@import "tailwindcss";

@theme {
  --color-primary: #42a4ff;
  --color-primary-dark: #005cb3;
  --color-primary-light: #add8ff;

  --color-secundary: #ff42cd;
  --color-secundary-dark: #b30083;
  --color-secundary-light: #ffade9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana;
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  background-color: #333;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
